html {
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bold {
    font-weight: 900;
}
#header{
    background-image:l(https://i.pinimg.com/1200x/e2/e8/15/e2e8154743bf08148f5852fa393c713e.jpg);
    background-size:cover;
    height: 50%;
    color: rgb(19, 92, 114);
    font-size: 2rem;
    border-radius: 0 0 1.2em 1.2em;

    display: flex;
    allign-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}